@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');
body {
	background-color: rgb(138, 138, 138);
	font-family: 'Montserrat', sans-serif;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
::-webkit-scrollbar-track {
	background-color: white;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: black;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 10px;
}

.container {
	margin: 0 auto;
	padding-top: 50px;
}

.important {
	font-weight: bold;
	color: #A40E11;
}

.todo_list {
	max-width: 400px;
	max-height: 580px;
	/* overflow: auto; */
	display: block;
	margin: 0 auto 40px;
	background-color: rgb(49, 49, 49);
	padding: 30px;
	border-radius: 10px;
	border: 3px solid black;
	-webkit-box-shadow: 8px 8px 24px 0px rgba(61, 63, 80, 1);
	-moz-box-shadow: 8px 8px 24px 0px rgba(61, 63, 80, 1);
	box-shadow: 8px 8px 24px 0px rgba(61, 63, 80, 1);
}

.task {
	display: flex;
	border-bottom: 2px solid #000;
	align-items: center;
	box-sizing: border-box;
	overflow: hidden;
}

.checked {
	appearance: none;
	background-color: #fff;
	margin: 0;
	font: inherit;
	width: 16px;
	height: 16px;
	border: 3px solid;
	border-radius: 0.15em;
	display: grid;
	place-content: center;
	cursor: pointer;
}

.checked::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em;
	transform-origin: bottom left;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checked:checked::before {
	transform: scale(1);
}

h1 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 30px;
	position: relative;
}

.create_new_todo {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.addTaskText {
	width: 376px;
	padding: 10px;
	border-radius: 10px;
	border: 3px solid black;
	outline: none;
	font-family: inherit;
}


button {
	margin-top: 10px;
	width: 400px;
	padding: 10px;
	cursor: pointer;
	border: 3px solid black;
	border-radius: 10px;
	font-family: inherit;
	font-weight: bold;
}

.todo {
	padding-left: 0;
	max-height: 390px;
	overflow-y: scroll;
	padding-right: 18px;
}

.todo li {
	padding: 16px;
	list-style-type: none;
	color: white;
	width: 90%;
	transition: 120ms linear all;
}

.completed li {
	text-decoration: line-through;
	color: black;
	transition: 120ms linear all;
}

.deleteBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	width: 16px;
	height: 16px;
	background-color: white;
	cursor: pointer;
	border: 2px solid black;
	box-sizing: border-box;
	margin: 0;
}

.buttons-flex {
	display: flex;
	justify-content: space-between;
}

.buttons-flex button {
	width: 49%;
}

.start-message {
	text-align: center;
	margin-bottom: 0;
	font-size: 20px;
}

.deleteAll {
	position: absolute;
	height: 36px;
	width: 36px;
	right: 0;
	top: 0;
	cursor: pointer;
}

.deleteAll img {
	height: 36px;
	width: 36px;
}

.editBtn {
	width: 16px;
	height: 16px;
	background-color: white;
	border: 2px solid black;
	box-sizing: border-box;
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	cursor: pointer;
}

.editInput {
	border-radius: 10px;
	outline: none;
	border: 3px solid black;
	font-family: inherit;
}